h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #4991be;
	font-size: 14pt;
	font-weight: normal;
}

.mySavedH3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #4991be;
	font-size: 16pt;
	font-weight: bold;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 8pt;
    color: #333333;
	font-weight: normal;
}


.search_switch tr{    
    font-size:12px;
}

.search_switch a,
.search_switch strong{
	padding: 15px;
	display: inline-block;
}

.tdmyacct {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
    color: #333333;
	font-weight: normal;
}

.tdmyaccthdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
    color: #333333;
	font-weight: bold;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 10pt;
    color: #333333;
	font-weight: normal;
}

.darkness {
	background-color:#FFFFFF;
}

.hdrSavedTables {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #333333;
	font-weight: bold;
}

.bigH {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 24pt;
    color: #1C3364;
	font-weight: normal;
}

.mediumH {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 20pt;
    color: #FFFFFF;
	font-weight: normal;
}

.bigSummary {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 30pt;
    color: #FFFFFF;
	font-weight: normal;
}

.summaryHdr {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 14pt;
    color: #072C78;
	font-weight: bold;
}

.summary {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 11pt;
    color: #072C78;
	font-weight: bold;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
    color: #666666;
}

.bottomNav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

.topNav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1px;
	padding-bottom: 1px;
}

.topNavFocus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #b34c2b;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.hpHeaders {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #4d6c96;
	font-weight: bold;
	text-transform: uppercase;
}

.pageHeaders {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #4d6c96;
	font-weight: bold;
	padding-top: 5px;
}

.whyHeaders {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #4d6c96;
	font-weight: bold;
	text-transform: uppercase;
}

.create {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #072263;
	font-weight: bold;
}

.catHeaders {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}

p.cb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #072263;
	font-weight: bold;
}

.cb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #072263;
	font-weight: bold;
}

.radiobtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #072263;
	font-weight: bold;
}

.radioSubbtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	/* color: #77ce1a; */
	color: #b0c4ee;
	/* font-style: italic; */
	font-weight: bold;
}

.radioSubbtn2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	/* color: #072263; */
	color: #b0c4ee;
	/* font-weight: bold; */
	line-height: 16px;
}

.radioSubbtn2Notes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	/* color: #072263; */
	color: #b0c4ee;
}

p.hdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #b0c4ee;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 5px;
	padding-top: 5px;
}

p.crihdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #b0c4ee;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}

.demohdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #b0c4ee;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}

.demohdrSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #b0c4ee;
	padding-left: 5px;
	padding-top: 5px;
}

.previewhdrSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	padding-left: 5px;
	padding-top: 5px;
}

p.instrhdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #c8a615;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}

p.instrhdrText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #c8a615;
	font-weight: normal;
	padding-left: 5px;
}

p.allnone {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
    color: #b0c4ee;
	font-weight: bold;
}

.checkbox, .radio {
	width: 15px;
	height: 15px;
	padding: 0 5px 0 0;
	background: url(images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}

.radio {
	background: url(images/radio.png) no-repeat;
}

.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(images/select.png) no-repeat;
	overflow: hidden;
}

#hintbox{ /*CSS for pop up hint box */
position:absolute;
top: 0;
/* background-color: lightyellow; */
background-color: white;
width: 150px; /*Default width of hint.*/ 
padding: 3px;
border:1px solid black;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
font-weight: bold;
color: navy;
margin: 3px 8px;
}

.matchedRecords {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
    color: #FFFFFF;
	font-weight: bold;
}

.matchedLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
    color: #072C78;
	font-weight: bold;
}

.matchedMedium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
    color: #072C78;
}

.matchedHdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
    color: #48525e;
	font-weight: bold;
}

.analyzeMatchedLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
    color: #072C78;
	font-weight: bold;
}

.analyzeMatchedMedium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
    color: #072C78;
}

.analyzeMessage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
    color: #FF0000;
	font-weight: bold;
}

.PAHdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #9fa3a7;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.PAMedium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
    color: #9da6b1;
	font-weight: bold;
	padding: 5px;
}

.PALarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
    color: #FFFFFF;
	font-weight: normal;
}

.matchedMedium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
    color: #072C78;
	font-weight: normal;
	padding: 5px;
}

.matchedDownload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

.pred {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "nobile-1","nobile-2"; */
	/* font-family: "museo-sans-1", "museo-sans-2"; */
	/* font-family: "droid-sans-1","droid-sans-2";  */
	font-size: 10pt;
    color: #FF0000;
	font-style: italic;
}

.demoHeaders { margin-top: 2em; }

.st_sharethis_custom{
	background: url("http://www.poweralmanac.com/images/sharethis.png") no-repeat scroll left top transparent;
	padding-top: 5px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.topLogoText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #666666;
	/*font-weight: bold;*/
	font-style: italic;
	padding-right: 75px;
}

.topLogoSubText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666666;
	/*font-weight: bold;*/
	font-style: italic;
	padding-right: 200px;
}

.topPromoText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	/*font-weight: bold;*/
	font-style: italic;
	padding-right: 50px;
}

test {
	padding-left:25px;
}

.pricePageHeaders {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #4d6c96;
	font-weight: bold;
	padding-top: 10px;
	padding-left:85px
}

.priceTableHdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #4d6c96;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 85px;
}

.priceHdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #4d6c96;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.priceTableTextHdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

.priceTableText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
}

.priceTableTextHdr2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #b74c2b;
	font-weight: bold;
	text-decoration: none;
}

.priceTableText2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #b74c2b;
	text-decoration: none;
}

.priceTableHR {
	color: #c8c6c3;
	position: relative;
	top: 8px;
}

.pricePlanText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #555555;
	text-decoration: none;
}

.analyzeHdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
}

.analyzeGovtOff {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #424242;
	font-weight: normal;
	text-align: right;
}

.analyzeGovtOffBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #424242;
	font-weight: bold;
	text-align: right;
}

.analyzeGovt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #7991ac;
	font-weight: normal;
}

.analyzeCell {
	border-left-style: dotted;
	border-left-color: #F00;
	border-right-style: dashed;
	border-right-color: #F00;
}

.foo {
}

.analyzeColumnHdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.previewHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	/* text-transform: uppercase; */
	font-style: italic;
	font-weight: bold;
}

.searchCounts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #072263;
	font-weight: normal;	
}

.populationUC {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3300ff;
	font-weight: normal;	
}

.profileHeaders {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #4d6c96;
	font-weight: bold;
}

.downloadAction {
	font-family: Arial, Helvetica, sans-serif;
	color: #4991be;
	font-size: 11pt;
	font-weight: bold;
}

.textUL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}