server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    index index.html index.htm;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name default;
    root {{ base_dir }}/current/codebase/public;
    index index.php index.html index.htm;

    {% for setting in nginx_configs.ssl %}
    {{ setting }};
    {% endfor %}

    gzip on;
    gzip_disable "MSIE [1-6]\.(?!.*SV1)";

# Allowing the visulation of the fpm pool status can be acheived by uncommenting this section,
# and uncommenting the "pm.status_path" setting in /etc/php/{{ php_version }}/fpm/pool/siftware-www.conf
#    location ~ ^/(status|ping)$ {
#         access_log off;
#         allow 127.0.0.1;
#         allow 192.168.51.1;
#         allow 10.0.2.2;
#         deny all;
#         include fastcgi_params;
#         fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
#    }

    location / {
        try_files $uri $uri/ /index.php?$args @extensionless-php;
    }

    location ~ \.php$ {
        try_files $uri =404;

        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;

        fastcgi_intercept_errors off;
        fastcgi_buffer_size 32k;
        fastcgi_buffers 16 16k;
    }

    location @extensionless-php {
        rewrite ^(.*)$ $1.php last;
    }

    rewrite ^/PA-FAQ.php /faq-help permanent;
    rewrite ^/PA-TermsOfUse.php /terms-of-service permanent;
    rewrite ^/PA-Privacy.php /privacy-policy permanent;
    rewrite ^/PA-CreateYourList.php /search-government permanent;
    rewrite ^/PA-index.php / permanent;
    rewrite ^/PA-Features.php /how-it-works permanent;
    rewrite ^/PA-Register.php /register permanent;
    rewrite ^/PA-LoginRegister.php /login permanent;
    rewrite ^/PA-LostPassword.php /forgot-password permanent;
    rewrite ^/PA-Pricing.php /pricing permanent;
    rewrite ^/PA-Subscribe.php /register permanent;
    rewrite ^/PA-MySearches.php /dashboard permanent;
    rewrite ^/PA-MyDownloads.php /dashboard permanent;
    rewrite ^/PA-MyAccount.php /dashboard permanent;
    rewrite ^/PA-ContactUs.php /contact-us permanent;

    location ~ /\.ht {
        deny all;
    }
}
