/* only using this css for the 404 page */
body,html{
	background-image: url(../images/404-image.jpg);
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#main404{
	position: absolute;
	left: 18%;
	background-color: black;
	width: 368px;
	padding: 50px 40px;
	color: white;
	top: 0;
	bottom: 0;
}
#main404:after{
	content: '';
	display: block;
	position: absolute;
	right: -30px;
	width: 30px;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

h1{
	font-weight: normal;
	font-size: 30px;
}

h3{
	font-weight: normal;
	font-size: 22px;
	line-height: 24px;
}

h4{
	font-weight: normal;
}

.ital{
	font-style: italic;
	color: #bbb;
	margin-top: 26px;
	width: 75%;
}

aside{
	background: #72c4eb;
	-webkit-border-radius: 15px/17px;
	-moz-border-radius: 15px/17px;
	border-radius: 15px/17px;
	padding: 30px 60px 2px 60px;
	margin-left: -58px;
	margin-right: -58px;
	z-index: 1;
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
	text-shadow: 0 1px 1px #000;
}
aside h3{
	margin-top: 0;
	margin-bottom: 16px;
	line-height: 33px;
}

aside button{
	line-height: 26px;
	position: relative;
	top: -5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #aaa;
}

aside button:hover{
	background-color: #d5d5d5;
}

aside select{
	border: 1px solid #aaa;
	font-style: italic;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	margin-top: 14px;
}
li a{
	color: orange;
	font-size: 18px;
	text-decoration: underline;
	font-weight: normal;
}
li a:hover{
	color: white;
}


@media (max-width: 1024px){
	body,html{
		background-size: 160% auto;
	}

	#main404{
		left: 10px;
	}
}

@media (max-width: 600px){
	body,html{
		background-size: 225% auto;
	}
	#main404{
		left: 0px;
		background-color: rgba(0,0,0,0.3);
		width: 100%;
	}
	aside{
		padding: 20px 10px 2px 10px;
		margin-left: -40px;
		margin-right: -40px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}