/* @override http://power.test/css/all.css */

/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
html{background:#000;color:#000}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

body{
	color:#494949;
	font:16px/24px Arial, Helvetica, sans-serif;
	margin:0;
	min-width:320px;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; clear:both;} /* IE < 8 */

.full{
	width: 100%;
	float: left;
}

.right{
	float: right;
}

.orange{
	color: orange;
}

a:active{background-color:transparent;}
a:hover{text-decoration:none;}
.welcome-holder:after,
.tabset .frame:after,
.tabset ul:after,
.tabs-holder:after,
.table-price .row:after,
.form-card-review .row:after,
.white-box .post:after{
	content:'';
	display:block;
	clear:both;
}
.player-holder img{vertical-align:top;}
input[type="submit"]:hover{cursor:pointer;}
.btn-gray{
	background:url(../images/buttons.png) no-repeat 100% -33px;
	padding:0 3px 0 0;
	border: 1px solid #BBB;
	border-radius: 5px;
}
.btn-gray span{
	background:url(../images/buttons.png) no-repeat;
	float:left;
}
.btn-gray:hover span{text-decoration:underline;}
.btn-blue{
	background:url(../images/buttons.png) no-repeat 100% -113px;
	padding:0 3px 0 0;
}
.btn-blue span,
.btn-blue .btn-frame{
	background:url(../images/buttons.png) no-repeat 0 -80px;
	float:left;
}
.btn-gold{
	background:url(../images/buttons.png) no-repeat 100% -337px;
	padding:0 3px 0 0;
}
.btn-gold span{
	background:url(../images/buttons.png) no-repeat 0 -300px;
	float:left;
}
.btn-gray2{
	background:url(../images/buttons.png) no-repeat 100% -421px;
	padding:0 3px 0 0;
}
.btn-gray2 span{
	background:url(../images/buttons.png) no-repeat 0 -380px;
	float:left;
}
#wrapper{background:#ebebeb;}
/* header */
#header{
	background:#fff;
	}
.header-holder{
	margin:0 auto;
	padding:29px 0 22px;
}
.logo{
	background:url(../images/logo.png) no-repeat;
	float:left;
	height:52px;
	overflow:hidden;
	text-indent:-9999px;
	width:248px;
}
.logo a{
	display:block;
	height:100%;
}
.nav-holder{
	float:right;
	padding:9px 0 0;
	width:681px;
	position: relative;
}
.nav-holder a{text-decoration:none;}
.nav-holder a:hover{text-decoration:underline;}
.nav-holder a.btn:hover{text-decoration:none;}
.nav-holder span{
	position: absolute;
	top: -14px;
	right: 0px;
	width: 180px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.login-menu{
float: right;
}

.anchor-padding{padding-top: 20px;display: block;}
/* main navigation */
#nav{
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	padding:7px 0 0;
	text-transform:uppercase;
	margin-left: 35px;
}
#nav li{
	background:url(../images/separator01.gif) no-repeat 0 3px;
	float:left;
	padding:0 18px 0 20px;
}
#nav li:first-child{
	background:none;
	padding-left:0;
}
#nav a{color:#1998ca;}
.btn-sign-in{
	color:#000;
	float:right;
	font:bold 14px/16px Verdana, Geneva, sans-serif;
}
.btn-sign-in span{padding:7px 29px 10px 29px;}
#main{
	position:relative;
	z-index:2;
}
/* welcome */
.welcome{
	background:#000;
	margin:0 0 -38px;
	padding:20px 0 60px;
	position:relative;
	z-index:1;
	width: auto !important;
}
.welcome-holder{
	color:#cecece;
	font:19px/30px Helvetica, Arial, sans-serif;
	margin:0 auto;
	padding:26px 0 50px 24px;
	width:940px;
}

.deltek .welcome-holder{
	background: url(/images/Landing-Page-Home-graphic.png) no-repeat right 137px;
	padding-bottom: 180px;
}

.deltek .intro-holder{
	padding: 10px 0 50px;
}

.welcome .player-holder{
	background:url(../images/bg-player-holder.png) no-repeat;
	float:right;
	margin:-130px -214px -199px -150px;
	padding:221px 222px 225px;
}
.player-holder .frame{
	position:relative;
}
.player-holder .btn-play{
	background:url(../images/btn-play.png) no-repeat;
	height:96px;
	left:50%;
	margin:-48px 0 0 -48px;
	overflow:hidden;
	position:absolute;
	text-indent:-9999px;
	top:50%;
	width:96px;
}

.deltek .welcome-holder h1{
	font-weight: 100;
}

/* 42px */
.welcome h1{
	color:#fff;
	font-size:2.625em;
	line-height:1.38em;
	margin:0 0 0.53em;
}
.welcome p{margin:0 0 45px;}
.form-search{position:relative}

/*15px*/
.form-search .title{
	color:#cdcdcd;
	display:block;
	font-size:0.9375em;
	font-weight:normal;
	line-height:1.133em;
	margin:0 0 8px;
}
.form-search .title img{
	vertical-align:middle;
}
.form-search select{
	color:#6a6767;
	display:inline-block;
	font:italic 14px Verdana, Geneva, sans-serif;
	vertical-align:middle;
}
.form-search .btn-blue{
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
	width:95px;
}
.heading .form-search .btn-blue,
.heading .form-search .btn-blue .btn-frame,
.txt .form-search .btn-blue,
.txt .form-search .btn-blue .btn-frame{width:43px;}
.footer-holder .form-search .btn-blue,
.footer-holder .form-search .btn-blue .btn-frame{width:138px;}
.form-search .btn-blue .btn-frame{width:95px;}
.form-search .pointer{
	background:url(../images/bg-pointer.png) no-repeat;
	bottom:16px;
	height:58px;
	left:-142px;
	position:absolute;
	text-indent:-9999px;
	width:107px;
}
.main-holder{
	margin-bottom:-51px;
	position:relative;
	z-index:2;
}
/* white box */
.white-box{
	background:white;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px #ccc;
	padding:20px;
	margin-bottom:20px;
}
.white-box .heading{
	overflow:hidden;
	padding:0 0 29px 5px;
}
/* 30px */
.white-box h2,
.white-box h3{
	color:#414141;
	font:1.875em/1.333em Verdana, Geneva, sans-serif;
	margin:0 0 0.167em;
}
.white-box .heading h2{
	font-family:Helvetica, Arial, sans-serif;
	margin:0 0 7px;
	width:490px;
}
.white-box .pricing-box h2,
.white-box .pay-section h2{font-family:Helvetica, Arial, sans-serif;}
.white-box .heading .form-holder{
	float:right;
	padding:6px 0 0;
	width:305px;
}
.white-box .heading .form-holder .title{
	color:#474747;
	display:block;
	font:17px/19px Verdana, Geneva, sans-serif;
	margin:0 0 12px 2px;
}
.white-box .heading .form-search input[type="submit"],
.white-box .menu-holder{
	background:#ececec;
	box-shadow:0 2px 4px #b0b0b0;
	-webkit-box-shadow:0 2px 4px #b0b0b0;
	margin:0 -29px 0 -22px;
	overflow:hidden;
	position:relative;
	behavior:url(js/PIE.htc);
	z-index:2;
}
.white-box .content-menu{
	float:left;
	font-size:14px;
	line-height:16px;
}
.content-menu li{
	float:left;
}
.content-menu a{
	color:#000;
	float:left;
	padding:0 5px 0 0;
	text-decoration:none;
}
.content-menu a span{
	float:left;
	min-width:138px;
	padding:8px 10px;
	text-align:center;
}
.content-menu .active a,
.menu-holder .content-menu a:hover span{
	color:#444 !important;
	background-color: #cfcfcf !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

}


.content-menu .active a span,
.content-menu a:hover span{background-position:0 -150px;}
.menu-holder .btn-to-top{
	border-radius:2px;
	-webkit-border-radius:2px;
	color:#000;
	float:right;
	font-size:14px;
	line-height:16px;
	margin:2px 0 0;
	text-decoration:none;
	position: relative;
	top: 8px;
}

.navbar .container{
	width: 925px;
}

.btn-to-top span em{
	background:url(../images/arrow01.png) no-repeat 12px 8px;
	float:left;
	font-style:normal;
	padding:8px 12px 9px 29px;
}
.btn-to-top:hover em{text-decoration:underline;}
/* post */
.white-box .post{
	border-bottom:1px solid #ebebeb;
	padding:34px 0 46px;
}
.white-box .last-post{
	border:0;
	padding-bottom:13px;
}
.white-box .post .alignleft{
	float:left;
	margin:0 -35px -46px -14px;
	position:relative;
	z-index:1;
}
.post .txt{
	overflow:hidden;
	position:relative;
	z-index:2;
}
.post h2{
	color:#414141;
	font:30px/40px Verdana, Geneva, sans-serif;
}

/* 16px */
.post .subheading{
	color:#9c9d9e;
	display:block;
	font:italic 1em/1.125em Verdana, Geneva, sans-serif;
	margin:0 0 1.75em;
}

/* 18px */
.post h4{
	color:#ee8905;
	font-size:1.125em;
	line-height:1.111em;
	margin:0 0 0.778em;
}
.post .columns-list{
	margin:0 0 24px;
	overflow:hidden;
}
.post ul{margin:0 0 10px;}
.post .columns-list ul{
	float:left;
	margin:0 0 0 27px;
	max-width:166px;
	min-width:89px;
}
.post .columns-list ul:first-child{margin:0;}
.post ul li{
	background:url(../images/bullet01.png) no-repeat 0 10px;
	overflow:hidden;
	padding:0 0 0 7px;
	vertical-align:top;
}
.post ul ul{
	margin:0;
	padding:6px 0 0 28px;
}
.post ul ul li{
	background:url(../images/bullet02.gif) no-repeat 0 9px;
	padding-left:8px;
}
.post p{margin:0 0 24px;}
.post strong,
.note strong{font-weight:bold;}
.post em,
.note em{font-style:italic;}
.post .form-search{padding:12px 0 0;}
.post .form-search .title{
	color:#474747;
	display:inline-block;
	font-size:16px;
	font-weight:normal;
	line-height:18px;
	margin:0 14px 0 0;
	vertical-align:middle;
}
.post .link-more{color:#339fc7;}

.half{
	width: 45%;
	padding: 20px;
	float: left;
}

/*Deltek Import*/
.deltek-import h1 .small-title{
	font-size: 24px;

}

.deltek-import h1 img{
	vertical-align: bottom;
}

.maximize_search{
	background: url(/images/maximize_search.png) no-repeat;
	height: 420px;
}

.maximize_search .btn{
	margin: 360px auto 0;
	width: 200px;
	display: block;
	text-decoration: none;
}

.white-box .gov_results h2{
	text-align: center;
	width: 400px;
}

/* subfooter */
.subfooter{
	background:rgba(44, 164, 220, 0.72);
	border-radius:15px/17px;
	-webkit-border-radius:15px/17px;
	margin:0 auto;
	overflow:hidden;
	padding:15px 5px;
	position:relative;
	behavior:url(js/PIE.htc);
	z-index:2;
}
.subfooter .title{
	color:#fff;
	float:left;
	font:20px/22px Verdana, Geneva, sans-serif;
	margin:6px 0 0;
	text-shadow:0 1px 1px #000;
}
.subfooter .btn-search{
	color:#000;
	float:right;
	font-size:14px;
	line-height:16px;
	text-decoration:none;
}

.subfooter .btn-search span{padding:8px 14px 9px 18px;}
.subfooter .btn-search:hover span{text-decoration:underline;}
.white-box .heading .note{
	border-bottom:1px solid #ebebeb;
	display:block;
	font-size:14px;
	line-height:23px;
	margin:0 0 12px;
	overflow:hidden;
	padding:10px 406px 35px 0;
}
.intro{background:#000;}
.intro-holder{
	margin-bottom:-51px;
	padding-top:68px;
	padding-bottom:77px;
}
/** 79px **/
.intro-holder h1{
	color:#fff;
	font:bold 4.9375em/1.025em Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.white-box .heading .holder{
	background:none;
	float:left;
	padding:0;
}
.white-box .subheading{
	color:#787878;
	display:block;
	font:italic 1em/1.125em Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/* tabs section */
.tabs-section{
	background:url(../images/divider01.gif) no-repeat 50% 100%;
	margin:-21px -32px 31px -25px;
	overflow:hidden;
	padding:44px 0 0 35px;
	position:relative;
}
.last-tabs-section{
	background:none;
	margin-bottom:-56px;
}
.tabs-section .heading{
	padding:0 26px 26px;
	position:relative;
	z-index:2;
}
.white-box .tabs-section .heading h2{
	margin:0 0 6px;
	width:auto;
}
.tabs-section .heading .subtitle{
	color:#ff9000;
	display:block;
	font:italic 16px/18px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.tabs-holder{
	/*padding:0 0 65px 11px;*/
	position:relative;
	z-index:1;
}
.alt-tabs .tabs-holder{padding-bottom:128px;}
.last-tabs-section .tabs-holder{padding-bottom:404px;}
.tabs-holder .tabset{
	background: #fff -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	-pie-background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	behavior:url(js/PIE.htc);
	border:1px solid #bfbfbf;
	box-shadow:0 0 6px #f2f2f2 inset, 0 0 6px #f9f9f9;
	-webkit-box-shadow:0 0 6px #f2f2f2 inset, 0 0 6px #f9f9f9;
	float:left;
	font-size:20px;
	line-height:22px;
	margin:11px 0 0;
	padding:3px 18px 2px 23px;
	position:relative;
	width:328px;
	z-index:2;
}
.alt-tabs .tabs-holder .tabset{
	float:right;
	margin:-29px 62px 0 0;
}
.tabs-holder .tabset li{
	border-top:1px solid #dbdbdb;
	float:left;
	width:100%;
}
.tabs-holder .tabset li:first-child{border-top:0;}
.tabs-holder .tabset a{
	color:#686868;
	display:block;
	padding:32px 0 32px 22px;
	position:relative;
	text-decoration:none;
	width:293px;
}

.tabs-holder .tabset a .arrow{
	background:url(../images/arrow02.png) no-repeat;
	height:40px;
	margin:-19px 0 0;
	position:absolute;
	right:-174px;
	top:50%;
	width:24px;
	display: none;
}

.tabs-holder .tabset a.active .arrow{
	display: block;
}

.alt-tabs .tabset a .arrow{
	background:url(../images/arrow03.png) no-repeat;
	left:-47px;
	right:auto;
}

.arrow-left .tabs-holder .tabset a .arrow {
	background:url(../images/arrow03.png) no-repeat;
	left:-47px;
}

.tabset img{
	margin:0 10px 0 0;
	vertical-align:middle;
}
.tabset .count{
	display:inline-block;
	font-weight:bold;
	margin:0 7px 0 0;
	text-align:center;
	vertical-align:middle;
	width:92px;
}
.tabs-holder .tabs-frame{
	float:right;
	margin:-12px 0 0 -10px;
	width:573px;
}
.alt-tabs .tabs-holder .tabs-frame{
	float:left;
	width:520px;
}
.tabs-holder .tabs-frame .decor{
	bottom:1px;
	position:absolute;
	right:0;
	z-index:1;
}
.alt-tabs .tabs-holder .tabs-frame .decor{
	left:-35px;
	right:auto;
}
.arrow-left .tabs-holder .tabs-frame .decor{
	left:-5px;
	top: 20px;
}

.tabs-frame .txt{
	background:url(../images/bg-tab-txt.png);
	color:#323232;
	float:left;
	font-size:17px;
	line-height:25px;
	padding:30px 23px 22px 20px;
	position:relative;
	z-index:2;
}
.alt-tabs .tabs-frame .txt{padding-top:10px;}
.white-box .tab .txt h3{
	color:#010101;
	font:bold 18px/25px "Myriad Pro", Arial, Helvetica, sans-serif;
	margin:0 0 12px;
}
.white-box .alt-tabs .txt h3{margin-bottom:7px;}
.white-box .tab .txt a{color:#0065c3;}
.white-box .tab .txt .link-more{
	color:#ff8007;
	text-decoration:none;
}
.white-box .tab .txt a:hover{text-decoration:underline;}
.tabs-frame .txt strong{font-weight:bold;}
/* pricing box */
.pricing-box{padding:22px 0 0;}
.white-box .pricing-box .heading{padding-bottom:43px;}
.pricing-box .table-price{
	color:#414141;
	font-size:16px;
	line-height:20px;
	margin:0 -7px 37px;
}
.table-price{
	position: relative;
}
.table-price strong{font-weight:bold;}
.table-price tr{background:#f2f2f2;}
.table-price .no-bg{background:none;}
.table-price .btn-holder{background:none;}
.table-price td,
.table-price th{background:url(../images/separator03.gif) repeat-y;}
.table-price th.empty{
	background:#fff;
	padding:23px 13px 0;
}
.table-price .btn-holder td{
	background:none;
	padding:13px 0 0;
	vertical-align:top;
}
.table-price .title{
	background:none;
	font-size:19px;
	padding:18px 13px 17px;
	width: 281px;
}
.table-price .annual .title{padding:17px 13px 14px;}
.table-price .btn-holder .title{padding:0 13px;}
.table-price .basic,
.table-price .power1,
.table-price .power2,
.table-price .power3,
.table-price .power4{
	/*padding:5px 10px;*/
	text-align:center;
	vertical-align: middle;
	/*line-height: 20px;*/
}
.table-price .basic{width:180px;}
.table-price .power1{width:180px;}
.table-price th,
.table-price th.offer{
	line-height:32px;
}
.table-price th .count{
	background:url(../images/bg-count.png) no-repeat;
	display:inline-block;
	margin:0 0 0 5px;
	padding:0 2px;
	vertical-align:middle;
	width:28px;
}
.table-price .offer{
	background:#444;
	color:#fff;
	font-size: 20px;
	line-height:27px;
	border-bottom: 1px solid #444;
}
.table-price th.offer{
	position: relative;
	border-bottom: 1px solid #444;
	border-top: 15px solid #444;
}
.table-price th.offer:before{
	display: block;
	content: '';
	position: absolute;
	top: -10px; bottom: -416%; right: 0; left: 0;
	z-index: 0;
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.88);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.88);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.88);
}

.table-price .annual,
.table-price .annual .offer{
	padding-top: 15px;
	padding-bottom: 10px;
	font-size:32px;
	line-height:20px;
}
.table-price .offer .holder{
	background:#444;
	padding:14px 0 0;
}
.table-price .total .offer .holder{
	margin:0 -10px -17px;
	padding:0 0 17px;
}
.table-price .btn-holder .btn-gray{
	color:#010000;
	display:inline-block;
	font-size:14px;
	line-height:16px;
	text-decoration:none;
	vertical-align:top;
}
.table-price .btn-holder .btn-gray span{
	padding:8px 7px 9px 10px;
	width:157px;
}
.table-price .btn-gold{
	color:#010000;
	display:inline-block;
	font-size:14px;
	line-height:16px;
	margin:-2px -5px 0;
	text-decoration:none;
	vertical-align:top;
}
.table-price .btn-gold span{
	padding:12px 7px 9px 10px;
	width:157px;
}
.btn-gold:hover span{text-decoration:underline;}
.table-price .power4 > div{position:relative;}
.txt-best-value{
	background:url(../images/txt-best-value.png) no-repeat;
	height:77px;
	overflow:hidden;
	width:170px;
}

.table-price .small{
	font-size: 12px;
}


/* pay section */
.pay-section{
	background:#f2f2f2;
	margin:0 -7px 49px -6px;
	padding:18px 16px 22px 14px;
}
.pay-section .holder{
	background:#fff;
	behavior:url(js/PIE.htc);
	border:3px solid #d7d7d7;
	border-radius:19px;
	-webkit-border-radius:19px;
	padding:18px 31px 5px 38px;
	position:relative;
}
.pay-section .payment-method{
	border-bottom:1px solid #dedede;
	margin:0 0 25px;
	padding:0 10px 43px 18px;
}
.white-box .payment-method .heading{padding:0 0 12px;}
.white-box .payment-method .heading .total{
	color:#414141;
	float:right;
	font-size:17px;
	line-height:34px;
	padding:14px 13px 0 0;
}
.payment-method .heading .total span{font-size:32px;}
.payment-method .content{overflow:hidden;}
.payment-method .method-list{
	float:left;
	font-size:15px;
	line-height:17px;
	margin:0 98px 0 0;
	padding:10px 0 0;
	text-align:center;
	width:185px;
}
.method-list li{
	overflow:hidden;
	padding:0 0 18px;
	vertical-align:top;
}
.method-list a{
	color:#414141;
	display:block;
	overflow:hidden;
	text-decoration:none;
}
.method-list a span{
	display:block;
	float:none;
	padding:11px 19px 13px 10px;
}
.method-list .active a,
.method-list a:hover{background-position:100% -511px;}
.method-list .active a span,
.method-list a:hover span{background-position:0 -470px;}
.form-card-review{
	color:#414141;
	float:left;
	font-size:14px;
	line-height:16px;
}
.form-card-review .row{margin:0 0 23px;}
.form-card-review label{
	display:block;
	margin:0 0 7px;
}
.form-card-review .column label{margin:0 0 13px;}
.form-card-review input[type="text"]{
	background:#fff;
	border:1px solid #ccc;
	float:left;
	font-size:14px;
	height:18px;
	line-height:18px;
	margin:0 24px 0 0;
	padding:3px 5px 4px;
	width:236px;
}
.form-card-review .column .small{
	margin-right:8px;
	padding-top:4px;
	width:43px;
}
.form-card-review .cards-list{
	float:left;
	font-size:0;
	line-height:0;
	padding:4px 0 0;
}
.form-card-review .cards-list li{
	display:inline;
	margin:0 9px 0 0;
	vertical-align:middle;
}
.cards-list li img{vertical-align:middle;}
.form-card-review .column{
	float:left;
	margin:0 16px 0 0;
}
.form-card-review .column select{
	float:left;
	margin:0 18px 0 0;
	width:98px;
}
.form-card-review .help-icon{float:left;}
.form-card-review .btn-holder{
	overflow:hidden;
	padding:12px 0 0 3px;
}
.form-card-review .btn-blue{
	float:left;
	margin:0 10px 0 0;
	width:161px;
}
.form-card-review .btn-blue .btn-frame{width:161px;}
.form-card-review .btn-blue input[type="submit"]{
	background:none;
	border:0;
	color:#fff;
	float:left;
	font-size:14px;
	line-height:34px;
	height:33px;
	margin:0;
	padding:0 0 2px;
	width:164px;
}
.form-card-review .btn-secure{
	background:#f9fcf6 url(../images/ico18.gif) no-repeat 17px 3px;
	color:#509343;
	float:left;
	font-size:13px;
	line-height:15px;
	margin:4px 0 0;
	padding:5px 15px 5px 42px;
	text-decoration:none;
}
.form-card-review .btn-secure:hover{text-decoration:underline;}
.pay-section .check-box{
	overflow:hidden;
	padding:6px 15px 20px 20px;
}
.pay-section .check-box .offer-box{
	float:right;
	margin:-6px 0 0;
	width:328px;
}
.offer-box .txt-way{
	background:url(../images/txt-way.png) no-repeat;
	display:block;
	height:77px;
	margin:0 auto 14px;
	text-indent:-9999px;
	width:203px;
}
.offer-box .holder{
	background:#fff;
	behavior:url(js/PIE.htc);
	border:2px solid #d7d7d7;
	border-radius:19px;
	-webkit-border-radius:19px;
	color:#414141;
	font-size:18px;
	line-height:20px;
	padding:12px 29px 18px 31px;
	position:relative;
	text-align:center;
	text-transform:uppercase;
}
.offer-box .holder .title{
	background:url(../images/txt-join.png) no-repeat;
	display:block;
	height:39px;
	margin:0 auto 4px;
	text-indent:-9999px;
	width:181px;
}
.offer-box .holder .subtitle{
	display:block;
	font-size:12px;
	line-height:14px;
	margin:0 0 7px;
}
.offer-box p{margin:0 0 20px;}
.offer-box .price{
	display:block;
	font-size:12px;
	line-height:34px;
	margin:0 0 23px;
}
.offer-box .price span{font-size:32px;}
.offer-box .btn-join{
	background:url(../images/buttons.png) no-repeat 0 -560px;
	color:#010000;
	display:block;
	font-size:14px;
	line-height:16px;
	padding:10px 14px 11px 10px;
	text-decoration:none;
	text-transform:none;
}
.offer-box .btn-join:hover{text-decoration:underline;}
.white-box .pay-section .check-box h2{margin:0 0 18px;}
.table-summary{
	color:#414141;
	font-size:14px;
	left:-5px;
	line-height:16px;
	margin:0 0 17px;
	position:relative;
	width:371px;
}
.table-summary th{
	font-weight:bold;
	padding-bottom:20px !important;
}
.table-summary td{
	border-top:1px solid #dedede;
	padding:16px 0;
}
.table-summary .breakdown{
	padding:16px 7px;
	width:153px;
}
.table-summary .quantity{
	padding:16px 7px 16px 0;
	text-align:center;
	width:114px;
}
.table-summary th.cost{
	padding-right:0;
	text-align:center;
}
.table-summary .cost{
	padding:16px 13px 16px 0;
	text-align:right;
}
.table-summary .total{font-weight:bold;}
.table-summary .total .cost{color:#ee8905;}
.check-box .btn-confirm{
	color:#fff;
	float:right;
	font-size:14px;
	line-height:16px;
	overflow:hidden;
	text-align:center;
	text-decoration:none;
}
.check-box .btn-holder{
	overflow:hidden;
	width:363px;
}
.check-box .btn-confirm span{
	padding:8px 7px 10px 10px;
	width:144px;
}
/* features table */
.features-section{
	color:#474747;
	font-size:14px;
	line-height:16px;
	margin:0 -7px 75px -6px;
}
.features-section tr{
	background:#f2f2f2;
	overflow:hidden;
}
.features-section .no-bg{background:none;}
.features-section th{
	color:#414141;
	font:16px/18px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.features-section .title{
	padding:13px 12px 20px;
	width:261px;
}
.features-section th.title{
	padding:19px 15px 20px;
	width:281px;
}
.features-section .basic{
	background:url(../images/separator03.gif) repeat-y;
	padding:19px 19px 20px 10px;
	text-align:center;
	width:180px;
}
.features-section .power{
	background:url(../images/separator03.gif) repeat-y;
	padding:19px 0px 20px 0;
	text-align:center;
	width:160px;
}
.features-section .title .subtitle{
	color:#ee8905;
	display:block;
	font-size:16px;
	line-height:18px;
	margin:0 0 6px;
}
.features-section strong{font-weight:bold;}
.white-box .question{
	display:block;
	font-size:18px;
	font-style:normal;
	line-height:20px;
	margin:0 0 37px;
	text-align:center;
}
.white-box .question strong{font-weight:bold;}
/* footer */
#footer{
	background:#000;
	box-shadow:0 -2px 2px #3d3d3d;
	-webkit-box-shadow:0 -2px 2px #3d3d3d;
	position:relative;
	z-index:1;
}
.footer-holder{
	padding-top:56px;
	padding-bottom:77px;
}
.footer-box{
	height:100%;
	background:#111;
	border-radius:17px/13px;
	-webkit-border-radius:17px/13px;
	padding:15px;
}
.back-to-top {
	background:#111 url(../images/ico02.png) no-repeat center 10px;
	padding:0;
}
.back-to-top a{
	display:block;
	padding:74px 15px 15px;
}

.footer-holder .social-box .title{
	color:#fff;
	display:block;
	font:14px/16px Verdana, Geneva, sans-serif;
	margin:0 0 28px;
}
.social-box ul{
	font-size:0;
	line-height:0;
	overflow:hidden;
	padding:0 0 0 5px;
}
.social-box ul li{
	float:left;
	margin:0 16px 0 0;
}
.social-box ul a{
	background:url(../images/bg-social-networks.png) no-repeat;
	float:left;
	height:33px;
	overflow:hidden;
	text-indent:-9999px;
}
.social-box ul .rss{
	background-position:0 2px;
	width:30px;
}
.social-box ul .facebook{
	background-position:0 -33px;
	width:36px;
}
.social-box ul .twitter{
	background-position:0 -66px;
	width:46px;
}
.social-box ul .linkedin{
	background-position:0 -99px;
	width:97px;
}
.footer-holder .btn-to-top{
	color:#d2d2d2;
	font:16px/18px Verdana, Geneva, sans-serif;
	text-align:center;
	text-decoration:none;
}
.footer-holder a:hover,
.footer-holder a:hover span{text-decoration:underline;}
.footer-holder .contact-box{
	color:#fff;
	font-size:14px;
	line-height:19px;
}
.contact-box address{
	font-size:15px;
	line-height:22px;
	margin:0 0 25px;
}
.contact-box address a{
	color:#1996d7;
	font-style:italic;
	text-decoration:none;
}
.contact-box p{margin:0 0 13px;}
.contact-box .btn-holder{text-align:center;}

.footer-content{
	color:#fff;
	font-size:13px;
	overflow:hidden;
}
.footer-content a{
	color:#01b5fb;
	text-decoration:none;
}
.footer-content .title{
	color:#01b5fb;
	display:block;
	font:14px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0 0 5px;
}
.footer-content .blog-section{
	float:right;
	margin:0 0 0 47px;
	width:364px;
}
.blog-section .blog-list{
	line-height:20px;
	padding:5px 0 0 2px;
}
.blog-section .blog-list li{
	overflow:hidden;
	padding:0 0 17px;
	vertical-align:top;
}
.blog-section .blog-list img{
	float:left;
	margin:3px 20px 0 0;
}
/* footer navigation */
.footer-nav{
	font-size:12px;
	font-weight:bold;
	line-height:14px;
	padding:9px 0 16px;
	text-align:center;
}
.footer-nav li{
	background:url(../images/separator02.gif) no-repeat 0 2px;
	display:inline;
	padding:0 15px 0 19px;
	vertical-align:top;
}
.footer-nav li:first-child{background:none;}
.footer-nav a{
	color:#f5c004;
	text-decoration:none;
}
.copyright{
	color:#6b6b6b;
	display:block;
	font-size:10px;
	font-weight:bold;
	line-height:12px;
	text-align:center;
}

/* newer layout for TOS and Privacy */
.layout-n .frame{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding: 30px 70px 50px 70px;
	font-size: 13px;
	line-height: 26px;
}
.layout-n .frame p.pad-b{
	margin-bottom: 30px;
}
.layout-n .strengthen{
	font-weight: bold;
	font-size: 110%;
}
.layout-n ol{
	counter-reset: li;
	padding-top: 30px;
}
.layout-n li h3{
	display: inline;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
}
.layout-n li h4{
	display: inline;
	font-weight: bold;
	font-size: 14px;
}
.layout-n ol > li{
	position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */
	margin-bottom: 22px;
	line-height: 26px;
}
.layout-n ol > li:before{
	content:counter(li)'. '; /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
	font-size: 18px;
	font-weight: bold;
}
.layout-n ol ol{
	counter-reset: lia;
	padding-left: 30px;
}

.layout-n ol ol > li:before{
	content:counter(lia, lower-alpha)'. '; /* Use the counter as content */
    counter-increment:lia; /* Increment the counter by 1 */
	font-weight: bold;
	font-size: 14px;
}

.layout-n a{
	color: orange;
	font-weight: bold;
}
.layout-n a:hover{
	color: black;
}
.layout-n ul{
	padding-left: 30px;
	padding-top: 15px;
}
.layout-n ul > li{
	line-height: 26px;
	list-style-type: disc;
}

.layout-n .no-style-type li{
	list-style-type: none;
}
.layout-n .no-style-type{
	list-style-type: none;
	padding-left: 0px;
}

.layout-n  .subfooter{
	margin-top: 70px;
}



/* tabs layout ============ */
.tabbed.main-holder{
	margin-top: 26px;
}
.tabbed.faq .white-box{
	background-image: none;
}

.tabbed.faq .top-tabs{
	margin-top: -99px;
	padding-left: 0;
	float: left;
	margin-bottom: 40px;
}

.tabbed .top-tabs li{
	list-style: none;
	display: inline;
}
.tabbed.faq .top-tabs a{
	padding: 14px 24px;
	display: inline-block;
	text-align: center;
	color: white;
	text-decoration: none;
}

.tabbed.faq .top-tabs .selected-tab{
	color: black;
	background-color: white;
	-webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topleft: 18px;
	-moz-border-radius-topright: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.tabbed.faq .top-tabs a:hover{
	color: black;
	background-color: #DEDEDE;
	-webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topleft: 18px;
	-moz-border-radius-topright: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.tabbed .tab{
	float: left;
	margin-bottom: 20px;
}

body .tabbed.faq .tab .tab-inner ul > li{
	list-style-type: none;
}

.tabbed.faq .tab > ul > li{
	font: 18px/22px Arial, Helvetica, sans-serif;
	list-style: none;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 5px;
	position: relative;
	width: inherit;
	display: inline-block;
	clear: both;
	float: left;
	max-width: 730px;
}

.tabbed .tab > ul > li:after{
	content: "Show";
	display: block;
	position: relative;
	right: -10px;
	top: 0;
	color: orange;
	font-size: 16px;
	padding-left: 18px;
	background-image: url(../images/orange-down.png);
	background-repeat: no-repeat;
}

.tabbed .tab > ul > .hide-up:after{
	content: "Hide";
	right: -10px;
	background-image: url(../images/orange-up.png);
	background-repeat: no-repeat;
}

.tabbed .tab > ul > .answer:after{
	content: '';
	background: none;
}

.tabbed.faq .tab > ul > li.answer{
	font: 12px/14px Arial, Helvetica, sans-serif;
	padding: 10px 30px;
	border: 1px solid #DDDDDD;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	*width: 750px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    inset 0 0 10px #ddd;
    -webkit-box-shadow: inset 0 0 10px #ddd;
    box-shadow:         inset 0 0 10px #ddd;
}

.holder .gray-btn{
	color: black;
	padding: 6px 8px;
	display: inline-block;
	width: auto;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
}
.holder .gray-btn:hover{
	color: orange;
}


/* search layout (overrides tabs) ======================================== */
#search-header{
	height: 180px;
	width: 100%;
	background: #45484d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 65%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(65%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 65%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 65%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 65%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 65%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	margin-bottom: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: relative;
}
	#search-header h2{
		font-size: 36px;
		color: white;
		padding: 30px;
		position: relative;
		z-index: 1;
	}
	#search-header #search-fill-in{
		width: 100%;
		height: 63px;
		background-image: url('../images/PA-Search-Bar-min.png');
		position: relative;
		padding-top: 9px;
	}

	#search-header #search-fill-in span{
		position: relative;
		top: 22px;
		width: 134px;
		font-size: 20px;
		font-weight: bold;
		color: #777;
		display: inline-block;
		margin-left: 20px;
		padding-left: 50px;
	}

#wrapper.allwhite{
	background-color: white;
}

.tabbed table, .tabbed tr{
	width: 100%;
}

.tabbed td{
	width: 50%;
}

#r-government-type td{
	width: 33%;
}

.tabbed .inset{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.tabbed label{
	/*float: left;*/
	/*margin-left: 10px;*/
}

.tabbed #spendingdata label{
	float: none;
	margin-left: 5px;
	font-size: 12px;
}

.tabbed input[type=checkbox]{
	float: left;
}

.top-tabs.lowertabs{
	margin-top: 0px;
	padding-left: 10px;
	float: left;
	height: 42px;
}

.lowertabs a{
	display: inline-block;
}

.top-tabs .gray-tab{
	background: #666666; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODM4MzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #666666 1%, #383838 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#666666), color-stop(100%,#383838)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666666 1%,#383838 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666666 1%,#383838 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666666 1%,#383838 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #666666 1%,#383838 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#383838',GradientType=0 ); /* IE6-8 */
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px 30px 10px 50px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	position: relative;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
	min-height: 42px;
}


.searchgov .top-tabs .gray-tab:before{
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	width: 30px;
	height: 32px;
	background-image: url(../images/search-sprites.png);
}
.searchgov strong{
	font-weight: bold;
}


.searchgov .small{
	font-size: 75%;
	margin-top: 6px;
	text-align: right;
	margin-right: 280px;
	padding-bottom: 100px;
}

.searchgov h3{
	font-size: 28px;
	margin-bottom: 14px;
}
.searchgov h4{
	font-size: 20px;
	margin-bottom: 12px;
}
.searchgov .query-fill{
	font-size: 11px;
	color: gray;
	position: relative;
	display: inline-block;
	left: 5px;
	top: -3px;
}
.searchgov #categories{
	margin-bottom: 5px;
}
.searchgov #smallcheckout{
	position: absolute;
	right: 219px;
	top: 25px;
	text-decoration: none;
}

.searchgov #reset{
	position: absolute;
	right: 125px;
	top: 25px;
	text-decoration: none;
}

.searchgov #savesearchbutton{
	position: absolute;
	right: 15px;
	top: 25px;
	text-decoration: none;
}

.searchgov #total-officials-fill-in{
	text-shadow: 0px 0px 0px orange, 0px 0px 0px white, 0px 0px 0px orange;
	-moz-text-shadow: 0px 0px 0px orange, 0px 0px 0px white, 0px 0px 0px orange;
	-webkit-text-shadow: 0px 0px 0px orange, 0px 0px 0px white, 0px 0px 0px orange;
	transition: text-shadow 1s;
	-moz-transition: text-shadow 1s;
	-webkit-transition: text-shadow 1s;
}

.searchgov #total-officials-fill-in.searchGlow{
	text-shadow: 0px 0px 10px orange, 0px 0px 15px white, 0px 0px 20px orange;
	-moz-text-shadow: 0px 0px 10px orange, 0px 0px 15px white, 0px 0px 20px orange;
	-webkit-text-shadow: 0px 0px 10px orange, 0px 0px 15px white, 0px 0px 20px orange;
	transition: text-shadow 1s;
	-moz-transition: text-shadow 1s;
	-webkit-transition: text-shadow 1s;
}

.searchgov .bump-up{
	position: relative;
	top: -1px;
}

.searchgov .tab{
	width: 100%;
}


.searchgov .circle-tip{
	border: 1px solid #bbb;
	-mwebkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #bbb;
	width: 12px;
	height: 12px;
	font-size: 10px;
	display: inline-block;
	line-height: 11px;
	text-align: Center;
	padding-top: 1px;
	position:relative;
	top: -3px;
	left: 6px;
	background-color: #eee;
}

.searchgov .tooltipLink{
	margin-left: 4px;
	position: relative;
	top: -2px;
}
.searchgov #switches .tooltipLink{
	float:left;
	position: relative;
	top: 2px;
}

#r-roles .tooltip .tooltip-inner{
	text-align: left;
}

#r-roles .tooltip .tooltip-inner p{
	margin-bottom: 8px;
}

.searchgov #subscriptionType{
	color: orange;
	font-weight: bold;
}

.searchgov .full{
	border-bottom: 1px solid #d5d5d5;
	width: 98%;
}

.searchgov .full.last{
	border-bottom: 0px;
}

.searchgov .usingLocation {
	background-color: #fcdb62;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#zipWarning {
	width: 100%;
	max-width: 420px !important;
	padding: 15px;
	border-radius: 5px;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
	display: none; /* Hide by default */
}

.searchgov #amount-error-msg{
	color: red;
	font-size: 11px;
	display: block;
	width: 100%;
}

#search-state.cutoff{
	max-height: 130px;
	position: relative;
}

#search-state{
	transition-property: max-height;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	-webkit-transition-property: max-height;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	overflow: hidden;
}

.searchgov .cutoff:after{
	display: block;
	content: '';
	position: absolute;
	background-color: white;
	-webkit-box-shadow: 0px -15px 15px 15px #fff;
	-moz-box-shadow: 0px -15px 15px 15px #fff;
	box-shadow: 0px -15px 15px 15px #fff;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10px;
}




/* search pricing bar thingy  ==================================== */
#priceBar{
	position: relative;
}
#priceBar #pricingHeader{
	padding: 8px 20px;
	background-color: blue;
	background-image: -webkit-linear-gradient(bottom, #0e416c, #4c8eca);
	background-image: -moz-linear-gradient(bottom, #0e416c, #4c8eca);
	background-image: -o-linear-gradient(bottom, #0e416c, #4c8eca);
	background-image: -ms-linear-gradient(bottom, #0e416c, #4c8eca);
	background-image: linear-gradient(to top, #0e416c, #4c8eca);
	color: white;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#priceBar div > span{
	float: right;
}

#priceBar #pricingTop{
	padding: 0px 25px;
	-webkit-border-radius: 9px 10px 10px 9px/11px 11px 12px 12px;
	-moz-border-radius: 9px 10px 10px 9px/11px 11px 12px 12px;
	border-radius: 9px 10px 10px 9px/11px 11px 12px 12px;
	background-color: #123e65;
	-webkit-box-shadow: 1px 1px 1px rgba(214,214,214,.19), inset 1px 2px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 1px rgba(214,214,214,.19), inset 1px 2px 4px rgba(0,0,0,.5);
	box-shadow: 1px 1px 1px rgba(214,214,214,.19), inset 1px 2px 4px rgba(0,0,0,.5);
	font-size: 13px;
}
#priceBar .blackinset{
	padding: 25px;
	background-color: #363636;
	-webkit-box-shadow: inset 0 0 16px rgba(0,1,1,.8);
	-moz-box-shadow: inset 0 0 16px rgba(0,1,1,.8);
	box-shadow: inset 0 0 16px rgba(0,1,1,.8);
	color: #ddd;
	font-size: 12px;
}
#priceBar .grayinset{
	background-color: #efefef;
	padding: 10px 25px;
	-webkit-box-shadow: inset 0 0 16px rgba(0,1,1,0.3);
	-moz-box-shadow: inset 0 0 16px rgba(0,1,1,0.3);
	box-shadow: inset 0 0 16px rgba(0,1,1,0.3);
	font-weight: bold;
}
#priceBar .btn{
	text-decoration: none;
}
#priceBar .whole{
	padding: 5px 0px;
}
#priceBar .borderUnder{
	border-bottom: 1px solid #515151;
}
#priceBar strong{
	font-weight: bold;
}

#priceBar .grayEncapsule{
	margin-top: 4px;
	background-color: #515151;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	width: 100%;
	padding: 5px 5%;
	margin-left: -5%;
	margin-bottom: 15px;
}
#priceBar .grayEncapsule span{
	color: orange;
	font-weight: bold;
}

#priceBar label{
	float: none;
	margin-left: 0px;
}
#priceBar .switch{
	margin-left:6px;
}
#priceBar .switch span{
	float: none;
}
#priceBar #switches{
	padding: 25px 10px;
}
#priceBar #switches .whole{
	float: left;
}
#priceBar #switches .switch{
	float: left;
	margin-top: 5px;
}
#priceBar #switches .whole > span{
	float: left;
	display: block;
	width: 130px;
	margin-left: 6px;
	line-height: 13px;
}
#priceBar #otheroptions{
	color: #aaa;
	float: right;
	margin-bottom: 15px;
	position: relative;
	padding-right: 30px;
}
#priceBar #otheroptions:after{
	content: '';
	position: absolute;
	display: block;
	height: 13px;
	width: 13px;
	background-image: url(../images/popout.png);
	top: 5px;
	right: 5px;
}
#priceBar #shareResults{
	line-height: 16px;
	text-align: center;
}
#priceBar #shareResults textarea, #priceBar #shareResults input{
	padding: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	width: 93%;
}
#priceBar #moreEmail{
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background-color: #49617d;
	border: 0px solid white;
	color: #b6d2f0;
	width: 90%;
	padding: 5px 15px;
	text-align: left;
	position: relative;
	text-shadow: 0px -1px 0px rgba(55, 55, 55, .4);
	-moz-text-shadow: 0px -1px 0px rgba(55, 55, 55, .4);
	-webkit-text-shadow: 0px -1px 0px rgba(55, 55, 55, .4);
	font-weight: bold;
	margin-bottom: 15px;
	display: none;
}
#priceBar #moreEmail:after{
	content: '+';
	position: absolute;
	top: 6px;
	right: 20px;
	font-size: 15px;
}
#priceBar #moreEmail:active{
	background-color: #39516d;
}
span.powerstar{
	float: none !important;
	background-image: url(../images/powerstar.png);
	font-weight: bold;
	position: relative;
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: center;
	padding-top: 1px;
	padding-right: 1px;
	top: 0px;
	left: 0px;
	font-size: 12px;
}

#priceBar .grayinset{
	cursor: pointer;
}
#priceBar .grayinset:hover{
	background-color: #dcdcdc;
}

#priceBar #subusercredits{
	display: none;
	margin-top: 10px;
	background-color: #da4f49;
  	border-color: #bd362f #bd362f #802420;
  	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);

}

#subusercredits a{
	color: white;
	display: block;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

#subusercredits a:hover{
	text-decoration: underline;
}

#btn-chooseroles:before{background-position: 180px 0px; min-height:20px;}
#btn-chooseroles.selected-tab:before{background-position: 30px 0px; min-height:20px;}
#btn-location:before{background-position: 0px 0px; min-height:20px;}
#btn-location.selected-tab:before{background-position: 90px 0px; min-height:20px;}
#btn-spending:before{background-position: 120px 0px;}
#btn-spending.selected-tab:before{background-position: 210px 0px;}

.searchgov .ajax-spinner{
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}

#wrapper #main .searchgov .gray-tab.selected-tab.spinning:before{
	background-image: url(../images/ajax-loader.gif);
	width: 16px;
	height: 16px;
	background-position: 0 0;
	top: 11px;
	left: 22px;
}

.gray-tab.selected-tab{
	background: #f2f2f2;
	color: black;
	text-shadow: 0px -1px 0px rgba(55, 55, 55, .4);
	position: relative;
	z-index: 5;
	top: 1px;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
	min-height: 42px;
}

.tabbed .orange-tab{
	background: #ffd97a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZDk3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffd97a 1%, #febf04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffd97a), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd97a 1%,#febf04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd97a 1%,#febf04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd97a 1%,#febf04 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd97a 1%,#febf04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd97a', endColorstr='#febf04',GradientType=0 ); /* IE6-8 */
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px 30px 10px 50px;
	font-size: 16px;
	color: black;
	text-decoration: none;
	position: relative;
	text-shadow: 0px -1px 0px rgba(255, 180, 50, .75);
	cursor: pointer;
}
.tabbed .orange-tab:before{
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	width: 30px;
	height: 32px;
	background-image: url(../images/search-sprites.png);
	background-position: 150px 0px;
}

.tabbed .inset{
	width: 100%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.13);
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.13);
    padding: 20px;
    margin-top: 16px;
    background-color: #f9f9f9;
    float: left;
}

.tabbed .step-holder{
	background-color: #f2f2f2;
	float: left;
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.tabbed .step-holder a{
	text-decoration: none;
}

.tabbed .step-holder .btn-large, .tabbed .step-holder .btn-large{
	margin-top: 20px;
	float: right;
	margin-left: 15px;
}

.tabbed .navbar-inner{
	padding-left: 0;
}

.tabbed #statelist{
	width: 100%;
	float: left;
}
.tabbed .step-holder #location label, .tabbed .step-holder #chooseroles label{
	margin-left: 6px;
	/*float: left;*/
}
	.tabbed #location label h4{
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 16px;
		position: relative;
		top: 2px;
	}
.tabbed #quartile input{
	margin-right: 8px;
}


.tabbed #search-state, .tabbed #search-national, .tabbed #search-region, .tabbed #search-zip{
	padding: 10px;
	margin-top: 12px;
}

.tabbed #statelist div{
	/*width: 50%;*/
	/*float: left;*/
	min-width: 170px;
	height: 32px;
	margin: 3px 0px;
	word-break: break-all;
}
.tabbed #statelist div label {
	position: relative;
	top: -3px;
}

.tabbed #search-zip{
}
	.tabbed #search-zip > div{
		float: left;
		width: 230px;
	}

.tabbed .expand{
	display: none;
}
.tabbed .expandSelect{
	display: none;
}

#spendingdata{
}
	#spendingdata label{
		margin-left: 30px;
		margin-right: 15px;
	}

	#spendingdata h3{
		margin-bottom: 20px;
		float: left;
	}

	#spendingdata form{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#spendingdata #following-category{
		margin-top: 40px;
	}
	#spendingdata #following-category h3{
		float: left;
		position: relative;
		top: -8px;
		margin-right: 14px;
	}
	#spendingdata #spending-form{
		margin-top: 30px;
	}
	#spending-one img{
		float: left;
		padding-right: 35px;
	}
	#spending-one .input-append{
		margin-left: 20px;
		margin-top: 1px;
	}

	.tabbed #specific-government div{
		float: left;
		width: 180px;
	}
	.tabbed #specific-government #or-zip{
		width: 80px;
		margin-top: 26px;
	}

	#endBudgetYear{
		width: 100%;
		float: left;
		padding-top: 20px;
	}

	#endBudgetYear .bootstrap-select{
		float: left;
	}

	#endBudgetYear h3{
		width: 312px;
		position: relative;
		top: -7px;
	}

	.tabbed #endBudgetYear label{
		width: 16.666%;
		float: left;
		margin: 0;
	}

	.tabbed #endBudgetYear input{
		margin-right: 5px;
		position: relative;
		top: -2px;
	}
	#spendingdata #selectalltwolabel{
		width: 100%;
		float: right;
		display: block;
		font-size: 14px;
		text-align: right;
		padding-right: 30px;
		padding-top: 6px;
	}
	#spendingdata #selectalltwolabel input{
		margin-left: 8px;
		position: relative;
		top: 0px;
		float: right;
	}


/* checkout page ====================== */
.checkout .section{
	width: 100%;
	float: left;
	margin-bottom: 50px;
	padding-bottom: 40px;
	border-bottom: 1px solid #bebebe;
}
.checkout .section.last{
	border-bottom: 0px solid white;
}

.checkout .checkouthalf{
	width: 44%;
	margin-right: 6%;
	float: left;
}
.checkout h1{
	font-size: 26px;
	margin-bottom: 14px;
	font-weight: bold;
}
.checkout h4{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 6px;
}
.checkout .lineitem{
	width: 100%;
	padding: 6px 0px;
	border-top: 1px solid #bebebe;
}
.checkout .lineitem.total {
	font-size: 1rem;
	color: #2599c8;
}
.checkout .lineitem span .right{
	float: right;
	font-weight: bold;
}

.btooltip.oi-info {
	text-align: center;
	background-color: #000000;
	border-radius: 50%;
	color: #FFFFFF;
	padding: 4px;
	height: 14px;
	width: 14px;
	font-size: 8px;
	top: 0px;
}


/* about page ===================== */
.about .to-edges{
	margin-left: -25px;
	margin-right: -25px;
	margin-top: -20px;
	max-width: 963px;
}

.about h2{
	margin: 42px 0px 22px 0;
}

.about h3{
	font-size: 16px;
	font-weight: bold;
	margin: 12px 0;
}

.about p{
	width: 50%;
	margin-bottom: 30px;
}

.about em{
	font-style: italic;
}

/* login and register pages ============= */
.intro-holder.center{
	text-align: center;
}
.intro-holder.center h1{
	text-align: center;
}

.intro-holder center, .intro-holder .error-warning{
	color: red;
}

.black-holder *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.black-holder{
	padding: 30px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background-color: rgb(50,50,50);
	width: 420px;
	margin: 30px auto;
}
.black-holder label{
	text-align: left;
	color: white;
	float: left;
	width: 100%;
	font-size: 15px;
}
.black-holder a{
	color: #599fd1;
}
.black-holder label a{
	float: right;
	font-size: 11px;
}


@media all and (max-width:400px) {
	.black-holder {
		padding: 30px;
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
		border-radius: 22px;
		background-color: rgb(50, 50, 50);
		width: 100%;
		margin: 30px auto;
	}

	.g-recaptcha {
		position: relative;
		left: -20px;
	}

	.intro-holder h1 {
		color: #FFF;
		font-size: 3.5rem;
		font-weight: 300;
		line-height: 1.2;
	}
}

#main .black-holder input[type="text"],#main .black-holder input[type="password"], #main .black-holder input[type="email"]{
	float: left;
	width: 100%;
	height: 30px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-top: 5px;
	-webkit-box-shadow: inset 3px 3px 8px 0px rgba(0, 0, 0, 0.38);
	-moz-box-shadow: inset 3px 3px 8px 0px rgba(0, 0, 0, 0.38);
    box-shadow: inset 3px 3px 8px 0px rgba(0, 0, 0, 0.38);
}
#main .black-holder input[type="text"]:focus,#main .black-holder input[type="password"]:focus,  #main .black-holder input[type="email"]:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
}
#login-or-register{
	padding-top: 20px;
	margin-top: 10px;
	border-top: 1px solid white;
	width: 100%;
	float: left;
}
#login-or-register span{
	float: left;
	padding-left: 17px;
	padding-top: 8px;
	color: white;
	font-size: 18px;
}
#login-or-register a{
	margin-left: 13px;
	font-size: 13px;
}
#main .black-holder input[type="submit"]{
	font-weight: bold;
	min-width: 120px;
	float: left;
	font-size: 13px;
	margin-top: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0 7px;
}

#main .black-holder .halfwidth{
	width: 50%;
	float: left;
	padding: 0px;
}
#main .black-holder .halfwidth:first-child{
	padding-right: 8px;
}
#main .black-holder .halfwidth:last-child{
	padding-left: 8px;
}
.login h3{
	color: white; display: inline-block;
	margin-right: 40px;
	font-size: 18px;
}
.login > a{
	color: #dadada;
	position: relative;
}
.login > a:after{
	content: '';
	position: absolute;
	display: block;
	height: 13px;
	width: 13px;
	background-image: url(../images/popout.png);
	top: 3px;
	right: -23px;
}











/* noiuslider css ================================================ */
	#step-amounts span {
		position: relative;
		display: inline-block;
		font-size: 12px;
		top: -4px;
		text-align: center;
        border: 1px dashed red;
	}

	#step-amounts span:last-child{
		text-align: right;
		float: right;
	}

	#step-amounts span:first-child{
		text-align: left;
        float:left;
	}

/*! nouislider - 12.1.0 - 10/25/2018 */
.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}.noUi-connects{overflow:hidden;z-index:0}.noUi-connect,.noUi-origin{will-change:transform;position:absolute;z-index:1;top:0;left:0;height:100%;width:100%;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0}html:not([dir=rtl]) .noUi-horizontal .noUi-origin{left:auto;right:0}.noUi-vertical .noUi-origin{width:0}.noUi-horizontal .noUi-origin{height:0}.noUi-handle{position:absolute}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;left:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}html:not([dir=rtl]) .noUi-horizontal .noUi-handle{right:-17px;left:auto}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connects{border-radius:3px}.noUi-connect{background:#3FB8AF}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-sub{background:#AAA}.noUi-marker-large{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%,0);padding-left:25px}.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}
.noUi-connect{
	background-color: #1998ca;
}


/* ============= CSS spinner/ajax loader ================================== */
#loadingOverlay, #loadingOverlayTwo{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	padding-top: 100px;
	z-index: 300;
	display: none;
}

#loadingOverlayTwo{
	padding: 10px;
	background-color: rgba(255,255,255,0.9);
}

#loadingOverlay h4{
	font-size: 16px;
	font-weight: bold;
}

#loadingOverlayTwo h2{
	color: black;
	font-size: 30px;
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px;
}

#noTrespassingOuterBarG{
height:25px;
width:200px;
border:2px solid #FCD200;
overflow:hidden;
background-color:#FFFFFF;
margin-left: auto;
margin-right: auto;
}

.noTrespassingBarLineG{
background-color:#FCD200;
float:left;
width:18px;
height:150px;
margin-right:30px;
margin-top:-35px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.noTrespassingAnimationG{
width:295px;
-moz-animation-name:noTrespassingAnimationG;
-moz-animation-duration:1.1s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:noTrespassingAnimationG;
-webkit-animation-duration:1.1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:noTrespassingAnimationG;
-ms-animation-duration:1.1s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:noTrespassingAnimationG;
-o-animation-duration:1.1s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:noTrespassingAnimationG;
animation-duration:1.1s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

#noTrespassingFrontBarG{
}

@-moz-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-48px;
}

}

@-webkit-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-48px;
}

}

@-ms-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-48px;
}

}

@-o-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-48px;
}

}

@keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-48px;
}

}


/* ============= dashboard page ================================== */
.dashboard .sec1 *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dashboard .sec1{
	width: 100%;
	float: left;
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
	padding-top: 50px;
}
.dashboard .sec1.alpha{
	border-top: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

.dashboard .sec1 h2{
	margin-top: 30px;
	float: left;
	width: 100%;
	margin-bottom: 16px;
}

.dashboard .sec1 p{
	width: 100%;
	float: left;
}

.dashboard .sec1 strong{
	font-weight: bold;
	display: block;
	float: left;
	clear: left;
	margin-bottom: 8px;
}
.dashboard .sec1 .fill-in{
	font-weight: bold;
	display: block;
	float: left;
	font-weight: normal;
	margin-left: 8px;
}

.dashboard .sec1 .dash-box{
	width: 53%;
	float: left;
	margin-right: 2%;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 0px 20px;
}

.dashboard .sec1 .dash-box.omega{
	width: 44%;
	margin-right: 0;
}

.dashboard .sec1 .dash-box h3{
	font-size: 15px;
	font-weight: bold;
	background-color: #ececec;
	padding: 6px 16px;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 20px;
}

.dashboard .sec1 .subuser{
	float: left;
	margin-top: 10px;
}

.dashboard .sec1 .subuser a{
	cursor: hand; cursor: pointer;
}

.dashboard .sec1 label input[type="checkbox"]{
	position: relative; top: -3px;
	margin-right: 5px;
}

.dashboard button{
	padding: 4px 10px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #888;
	margin: 10px 0px;
}

.dashboard .sec1 .strong{
	font-weight: bold;
}

.dashboard .sec1 a{
	color: #ff9000;
}

.dashboard .sec1 .hinted{
	text-decoration: italic;
	font-size: 11px;
	line-height: 13px;
}

.dashboard .sec1 table{
	width: 100%;
	margin-bottom: 50px;
	font-size: 12px;
}

.dashboard .sec1 table td{
	width: 20%;
	padding: 10px 0px;
	text-align: center;
}
.dashboard #mydownloads{
	padding-bottom: 50px;
}
.dashboard .sec1 #mydownloadstable td{
	width: 12.5%;
	position: relative;
}

.dashboard .sec1 #mydownloadstable thead td{
	left: -20px;
}

.dashboard .sec1 table thead{
	background-color: #ebe8e5;
	font-weight: bold;
}

.dashboard #newInput{
	width: 100%;
	height: 26px;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
}

.dashboard #saveNew{
	position: absolute;
	right: 0;
	top: 100%;
	padding: 6px 4px;
	font-size: 12px;
	line-height: 12px;
	z-index: 1;
}


.dashboard .newholder{
	width: 100%;
	position: relative;
	z-index: 1;
}
.dashboard .newholder:before{
	content: '';
	position: absolute;
	display: block;
	top: -10px;
	bottom: -40px;
	right: -20px;
	left: -10px;
	background-color: rgba(255,190,190,0.28);
	z-index: 0;
}
.dashboard .download-info{
	display: inline;
	cursor: pointer;
	position: relative;
}
.dashboard .download-info .popover{
	width: 360px;
	padding: 5px;
	color: black;
	bottom: 27px !important;
	left: -133px !important;
	top: auto !important;
}

.dashboard .download-info .popover-title{
	font-size: 18px;
	line-height: 18px;
	position: relative;
}

.dashboard .download-info .popover-title:after{
	content: 'x';
	width: 16px;
	height: 16px;
	line-height: 12px;
	padding: 4px;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #555;
	background-color: #eaeaea;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.dashboard .download-info .popover-title:hover:after {
	background-color: #ddd;
}

.dashboard .download-info .popover-content p{
	float: none;
	margin-bottom: 4px;
}

 .dash-modal label{
	width: 100%;
	float: left;
	display: block;
}

 .dash-modal input, .dash-modal .modal textarea{
	padding: 4px 6px;
	width: 70%;
	float: right;
}

 .dash-modal.half-modal input, .dash-modal.half-modal .modal textarea{
	padding: 4px 6px;
	width: 50%;
	float: right;
	position: relative;
	top: -5px;
}

.dash-modal .hinted{
	font-size: 11px;
	float: left;
	position: relative;
	top: -18px;
	color: rgba(44, 164, 220, 1);
}

.dash-modal .modal-header{
	background-color: rgba(44, 164, 220, 0.72);
	color: white;
}

.dash-modal .close{
	color: white;
	opacity: 0.8;
}

/* contact page styles (having a tough time reusing styles on pages!) =========== */
.frame.extra-space{
	padding: 30px 60px;
}

.frame.extra-space *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.frame.extra-space a{
	color: orange;
}

.frame.extra-space strong{
	font-weight: bold;
}

.frame.extra-space ul{
	margin-left: 24px;
	padding-top: 10px;
}
.frame.extra-space ul li{
	list-style-type: disc;
}
.frame.extra-space ul.half{
	padding-left: 0;
}

.frame.extra-space .subtitle{
	font-style: italic;
	color: orange;
}

.frame.extra-space section{
	padding-top: 30px;
	padding-bottom: 30px;
}
.frame.extra-space section.first{
	padding: 0;
}
.border-row{
	padding: 0px 10px;
	border-bottom: 1px solid #dadada;
}

.frame.extra-space .gray-title{
	padding: 10px;
	background-color: #dadada;
	margin: 0 0 20px -10px;
	font-weight: bold;
}

.frame.extra-space .bump-down{
	margin-top: 20px;
}

.frame.extra-space .btn-gray{
	color: black;
}

.frame.extra-space .ton-padding{
	padding: 60px;
	text-align: center;
	width: 100%;
}
.frame.extra-space .ton-padding form{
	width: 75%;
	margin: auto;
	text-align: left;
}
.frame.extra-space .ton-padding form h3{
	margin-bottom: 15px;
}
.frame.extra-space .ton-padding textarea{
	width: 100%;
	padding: 5px;
	height: 110px;
}
.frame.extra-space .ton-padding fieldset{
	width: 100%;
	text-align: right;
	padding-top: 10px;
}

.frame.extra-space .btn-group{
	position: relative;
	top: 4px;
	left: 3px;
}

.frame.extra-space .btn-group{
	position: relative;
	top: 4px;
	left: -1px;
	margin-left: 5px;
}

.frame.extra-space .bootstrap-select .dropdown-menu>li>a{
	padding: 3px 3px 3px 10px;
	color: black;
	text-decoration: none;
	text-align: left;
}
.frame.extra-space form p{
	font-size: 14px;
	text-align: right;
	margin-bottom: 6px;
}
.frame.extra-space form label{
	text-align: right;
}
.frame.extra-space input{
	height: 28px;
	position: relative;
	top: 5px;
	left: -2px;
	width: 218px;
}
.frame .popover-content {
	padding: 9px 14px;
	font-size: 11px;
	line-height: 13px;
}


/*override bootstrap default styles for sticky menu */
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.navbar .nav>.active>a span, .navbar .nav>.active>a:hover span, .navbar .nav>.active>a:focus span{
	color: #444 !important;
	background-color: #cfcfcf !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.g-recaptcha {
	clear: both;
	display:inline;
	display:inline-block;
	width:auto;
	*zoom:1;
}

#contactFeedback {
	margin: 1rem;
	padding: 1rem;
	font-size: 2rem;
	border: 0.5rem solid #0e7126;
	border-radius: 1rem;
	text-align: left;
	line-height: 2rem;
}

.m-b-10 {
	margin-bottom:10px;
}
.m-b-20 {
	margin-bottom:20px;
}

img.responsive {
	max-width: 100%;
	height:auto;
}

.bar-bottom {
	border-bottom: 1px solid #ebebeb;
	padding-bottom:20px;
}
@media all and (max-width:991px) and (min-width:768px) {
	.footer-holder .btn-to-top {
		font-size:13px;
		line-height:12px;
	}
	.back-to-top a {
		padding:68px 15px 15px;
	}

}
@media all and (max-width:767px) {
	.welcome h1 br {
		display:none;
	}
	.header-holder .nav-holder {
		text-align:center;
		width:auto;
	}
	#header {
		height:auto;
	}
	.logo {
		display:block;
		float:none;
		margin:0 auto;
	}
	.header-holder #nav {
		margin-bottom: 20px;
		display: inline-block;
		float: none;
		margin: 0 0 20px;
	}

	.header-holder .login-menu {
		float:none;
		margin: 0 auto 20px;
	}
}

@media all and (min-width:768px) and (max-width:991px) {
	.header-holder .nav-holder {
		width:442px;
	}
	.header-holder ul#nav {
		float:right;
		margin:-14px 0 12px;
	}

}

.input-group .form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
}

#navbarSupportedContent > ul > li > a
{
	color: #1998ca;
	margin-left: 1rem;
}

@media all and (max-width:400px) {
	.post .columns-list ul {
		float:none;
		max-width:100%;
		width:100%;
		margin:0;
	}
	.navbar .nav {
		text-align:center;
		width:100%;
	}
	.navbar a.btn {
		margin:0 auto;
	}

}

.btn-white {
	color:#333;
	background:white;
	border-color:#333;
}

.pricing-plans-include h3 {
	color: #1998ca;
}

.pricing-plans-include ul {
	list-style-type: circle;
	padding-left:25px;
}

.pricing-plans-include ul li {
	list-style: initial;
}


.pricing-table-2019 {
	padding: 0rem;
	margin-bottom: 3rem;
}

.pricing-table-2019 h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 2rem;
}

.pricing-table-2019 > .row > .pricing-plan {
	padding-top: 1rem;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	max-height: 30rem;
	color: #525252;
}

.pricing-table-2019 > .row > .pricing-plan > .pricing-header {
	background-color: #e4e4e4;
	font-size: 2.5rem;
	color: #1998ca;
	letter-spacing: 3px;
	font-family: "Raleway", sans-serif;
	min-height: 4.2rem;
	padding-top: 1.3rem;
}

.pricing-table-2019 > .row > .pricing-plan > .pricing-features {
	background-color: #f5f4f5;
	min-height: 200px;
}

.pricing-table-2019 > .row > .pricing-plan > .pricing-features li {
	text-align: center;
	padding: 1rem;
	border-top: 1px solid rgba(25, 152, 202, 0.22);
}
.pricing-table-2019 > .row > .pricing-plan > .pricing-features li:first-child{
	border-top:0;
}

.pricing-table-2019 > .row > .pricing-plan > .pricing-footer {
	background-color: #FFFFFF;
}

.pricing-table-2019 > .row > .pricing-plan > .pricing-footer a {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.blue-highlight {
	color: #1998ca;
	font-size:1.125em;
	font-weight:bold;
}
