.intro{
	background-image: url('/images/Public-Works-Banner.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

.frame{
	overflow: auto;
}
	
.left-col{
	width: 60%;
	float: left;
}

.left-col h2{
	margin: 0;
}

.left-col p{
	width: auto;
}

.right-col{
	border-style: solid;
	border-color: #c0e3f1;
	border-width:10px;
	background-color: #c0e3f1;
	width: 35%;
	float: right;
}