p {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
	padding-right:5px;
}
.dashboard {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
	padding-right:5px;
}
.logout {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
	padding-right:5px;
	color: #F00;
}
td {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
	padding-right:5px;
	line-height:20px;
}
.topnav {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
	padding-right:5px;
	font-weight: bold;
}
.smallfont {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #F00;
}