env={{ env }}

server_url={{ protocol }}://{{ public_fqdn[0] }}

recaptcha_publickey={{ recaptcha_publickey }}
recaptcha_privatekey={{ recaptcha_privatekey }}

mysql_host={{ mysql_users[0].host }}
mysql_user={{ mysql_users[0].name }}
mysql_pass={{ mysql_users[0].password }}
mysql_name={{ mysql_database_name }}
mysql_name_icube={{ mysql_database_name_icube }}

sandbox={{ sandbox }}
daily_registrants_email={{ daily_registrants_email }}
