#!/bin/bash

# MySQL variables can't have double speech marks
export MYSQL_HOST="{{ mysql_users[0].host }}"
export MYSQL_USER="{{ mysql_users[0].name }}"
export MYSQL_PASS="{{ mysql_users[0].password }}"
export MYSQL_DATABASE="{{ mysql_database_name }}"
export MYSQL_DATABASE_ICUBE="{{ mysql_database_name_icube }}"
